<nav class="navbar navbar-light bg-primary">
  <h1 class="navbar-brand mb-0">{{title}}</h1>
  <div *ngIf="!userService.isLoggedIn()">
    <a routerLink="/login" routerLinkActive="active" class="btn btn-primary">Login</a>
    <a routerLink="/register" routerLinkActive="active" class="btn btn-primary">Register</a>
  </div>
  <a *ngIf="userService.isLoggedIn()" (click)="userService.logOut()" active="true" class="btn btn-primary">Logout</a>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>