<div class="row">
  <div class="card card-block">
    <form #chirpForm="ngForm" (ngSubmit)="onSubmit($event)">
      <h4 class="card-title">{{ callToAction }}</h4>
      <textarea
        autosize
        rows="3"
        class="form-control"
        name="body"
        minlength="2"
        maxlength="140"
        placeholder="{{placeholder}}"
        [(ngModel)]="body"
        #name="ngModel"
        required></textarea>
      <div *ngIf="formErrors.body" class="alert alert-danger">
        {{ formErrors.body }}
      </div>
      <button type="submit" class="btn btn-primary">{{ buttonText }}</button>
      <label class="countdown">{{ body | countdown:140 }}{{ charactersLabel }}</label>
    </form>
  </div>
</div>